<input type="checkbox" id="check">

<header>

  <label for="check">
    <i class="fas fa-bars" id="sidebar_btn"></i>
  </label>

  <div class="left_area">
    <a routerLink="/shop" routerLinkActive="active">
      <h3>Sklep Zoologiczny<span> JAM</span></h3>
    </a>
  </div>

  <div class="right_area">
    <a routerLink="/login" routerLinkActive="active" class="buttonRouter">Zaloguj</a>
    <a routerLink="/order" routerLinkActive="active" class="buttonRouter">Koszyk</a>
    <a routerLink="/info" routerLinkActive="active" class="buttonRouter">O sklepie</a>
    <a routerLink="/shop" routerLinkActive="active" class="buttonRouter">Strona główna</a>
    <div style="clear: both;"></div>
  </div>

  <div style="clear: both;"></div>
</header>


<div class="sidebar">

  <div class="login_feature">
    <img src="../assets/images/profil.jpg" alt="zdjecie_profilowe" class="profile_image">
    <h4>Nazwa użytk</h4>
  </div>

  <a routerLink="/info" routerLinkActive="active" class="buttonRouter">
    <i class="far fa-address-card"></i>
    <span>O sklepie</span>
  </a>
  <a routerLink="/order" routerLinkActive="active" class="buttonRouter">
    <i class="fas fa-shopping-basket"></i>
    <span>Koszyk</span>
  </a>
  <a routerLink="/login" routerLinkActive="active" class="buttonRouter">
    <i class="fas fa-sign-in-alt"></i>
    <span>Zaloguj</span>
  </a>

  <a *ngFor="let category of categories" class="category" routerLinkActive="class1"
    [routerLink]="['/shop/category', category.id]">

    <i class="fas fa-dog"></i>

    <span>
      {{category.name}} {{category.id}}
    </span>

    
  
  </a>
 
</div>


<div class="content">
  <router-outlet></router-outlet>
</div>