header{
    label{
        #sidebar_btn{
            z-index: 1;
            color: #fff;
            position: fixed;
            cursor: pointer;
            left: 300px;
            font-size: 20px;
            margin: 4px 0;
            transition: 0.5s;
        }
        #sidebar_btn:hover{
            color: #19B3D3
        }
    }
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: 100%;
    height: 30px;
    .left_area{
        float: left;
        h3{
            color: #fff;
            margin: 0;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 900;
        }
        span{
            color: #1dc4e7;
        }
    }

    .right_area{
        height: inherit;
        float: right;
        .buttonRouter{
            padding: 5px 10px 5px 10px;
            background: #19b3d3;
            text-decoration: none;
            float: right;
            margin-right: 25px;
            border-radius: 2px;
            font-size: 15px;
            font-weight: 600px;
            color: #fff;
            transition: 0.5s;
        }
        .buttonRouter:hover{
            background: #0D9DBB;
        }
    }

}

.sidebar{
    background: #2F323A;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    .login_feature{
        text-align: center;
        .profile_image{
            width: 100px;
            height: 100px;
            border-radius: 100px;
            margin-bottom: 10px;
        }
        h4{
            color: #ccc;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
    a{
        color: #fff;
        display: block;
        width: 100%;
        line-height: 60px;
        text-decoration: none;
        padding-left: 40px;
        box-sizing: border-box;
        transition: 0.4s;
        i{
            padding-right: 10px;
        }
    }
    a:hover{
        background: #19b3d3;
    }
}

#check:checked ~ .sidebar{
    left: -190px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 26px;
    margin-left: 165px;
    width: 80px;
}

.content{
    margin-left: 250px;
    background-image: url("../app/images/background1.png") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
    padding-top:70px;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check{
    display: none;
}