<div class="item">
    <div class="image">Tu będzie obrazek</div>
    <div class="scale"></div>

    <div class="description">
        <div class="head">
            O PRODUKCIE
        </div>
        <span>
            {{item.description}}
        </span>
    </div>
    <div class="clear"></div>

    <div class="rightSide">
        <div class="itemCateg">Numer produktu</div>
        <div class="itemName">- {{item.id}} -</div>
        <div class="itemCateg">Nazwa</div>
        <div class="itemName"><span>{{item.name}}</span></div>
    </div>

    <div class="buy">
        <div class="price">Cena za sztukę {{item.price}}zł</div>
        <input type="number" min="1" value="1">
        <input type="button" value="Dodaj do koszyka">
    </div>
    <div class="clear"></div>
</div>

<!--  MOBILE --> 

<div class="item-mobile">
    <div class="rightSide">
        <div class="itemCateg">Numer produktu</div>
        <div class="itemName">- {{item.id}} -</div>
        <div class="itemCateg">Nazwa</div>
        <div class="itemName"><span>{{item.name}}</span></div>
    </div>

    <div class="clear"></div>

    <div class="image">Tu będzie obrazek</div>

    <div class="buy">
        <div class="price">Cena za sztukę {{item.price}}zł</div>
        <input type="number" min="1" value="1">
        <input type="button" value="Dodaj">
    </div>

    <div class="clear"></div>

    <div class="description">
        <div class="head">
            O PRODUKCIE
        </div>
        <span>
            {{item.description}}
        </span>
    </div>

    <div class="clear"></div>

</div>