.image{
    display: inline-block;
    width: 45%;
    height: 70vh;
    border: solid 1px black;
}
.itemName{
    font-size: 3vw;
    border: solid 1px black;
}
.rightSide{
    display: inline-block;
    width:54%;
    float: right;
}
.description{
    margin-top: 4%;
}
.buy{
    margin-top: 4%;
}